<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="ITP DWD Example Site using templates">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!-- Get Font from Google http://www.google.com/webfonts -->
        <link href='http://fonts.googleapis.com/css?family=Peralta' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,300,100' rel='stylesheet' type='text/css'>        
        <style>

            /* full screen background image */
/*
            html { 
                background: url(/static/img/background.jpg) no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
*/

        </style>
<!--         {% block styles %}{% endblock %} -->

    </head>
    <body onload="init()">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        
        
        <div class="container">
        	<div id="header"> 
	        	<h1 class="c-white fontRaleway text-align-center" style="position:fixed; top:50%;">Yoonjo Choi</h1>
	        	<p id="yoonjoIs" class="s2" style="width:910px; margin-top:20px;">Yoonjo is a designer, artist and currently a graduate student of Interactive Telecommunications Program at NYU where she learned how to code her imaginations. Her main interest lays on the web and interactive visuals. She also enjoy's installations, drawing and working with fabric, while constantly wondering what it would be like if the world was a different color.</p>
        	</div>
        	
        	<div id="middle">
        		<div id="topBanner" class="shadow">
        			<img src="/static/img/aboutIcon.jpg" width="60px" height="59px" class="float-left" id="aboutIcon">
        			<p class="float-left" style="padding-left:20px;" id="aboutYoonjoChoi">about Yoonjo Choi</p>
	        		
        		</div>
        		<div id="showProject1-1">
        			<p class="showProjectTitle fontRaleway"><b>Town in Town</b></p>
        			<p class="showProjectText s1">This is a animated version of "Town in Town", an artwork by Hundertwasser. For more detailed documentation, click here.<br/>
        			Software: Processing</p>
	        		<div class="exit"></div>
	        		<iframe src="http://player.vimeo.com/video/38744218" width="600" height="448" frameborder="0" class="float-left" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	        		<img src="/static/img/TownInTown/TownInTown.png" width="295px" height="220px" class="float-left" style="margin-left:
	        		25px;">
	        		
	        		<img src="/static/img/TownInTown/TowninTown-Or.jpeg" width="295px" height="220px" class="float-left" style="margin-left:
25px; margin-top:8px;">
<p class="showProjectText s1" style="margin-top:237px; margin-left:930px;">Original artwork is below.</p>
        		</div>	        		
	        		<div class="center">
	        		
	        			<!-- ROW 1 -->
	        			<div id="row1">
		        			<div class="span3" style="margin:0 10px 0 0;">
			        			<div id="project1-1" class="t"></div>
			        			<div class="t-title"><b class="s2">Town in Town</b><br/>
			        			Visual Communication</div>
				        	</div>
				        	<div class="span3" style="margin:0 10px 0 0;">
			        			<div id="project1-2" class="t"></div>
			        			<div class="t-title"><b class="s2">TheListServe</b><br/>
			        			Conversational Spaces<br/>
				        		Social Platform</div>
				        	</div>
				        	<div class="span3" style="margin:0 10px 0 0;">
			        			<div id="project1-3" class="t"></div>
			        			<div class="t-title"><b class="s2">Nostalgia</b><br/>
			        			Interactive<br/>
				        		Artwork</div>
				        	</div>
				        	<div class="span3" style="margin:0 10px 0 0;">
			        			<div id="project1-4" class="t"></div>
			        			<div class="t-title"><b class="s2">Tune Art</b><br/>
			        			Mobile Application<br/>
				        		Service</div>
				        	</div>
	        			</div> <!-- end row 1 -->
				        		
			        	<!-- ROW 2 -->
				        <div id="row2">
				        	<div class="span3" style="margin:0 10px 0 0;">
			        			<div id="project2-1" class="t"></div>
			        			<div class="t-title"><b class="s2">Gotham Project</b><br/>
			        			Fashion Tech<br/>
			        			Performance</div>
				        	</div>
				        	<div class="span3" style="margin:0 10px 0 0;">
			        			<div id="project2-2" class="t"></div>
			        			<div class="t-title"><b class="s2">IP Camera Control Surface</b><br/>
			        			Network<br/>
				        		Interactive</div>
				        	</div>
				        	<div class="span3" style="margin:0 10px 0 0;">
			        			<div id="project2-3" class="t"></div>
			        			<div class="t-title"><b class="s2">Interactive Scenery</b><br/>
			        			Visual Communication<br/>
				        		Interactive</div>
				        	</div>
				        	<div class="span3" style="margin:0 10px 0 0;">
			        			<div id="project2-4" class="t"></div>
			        			<div class="t-title"><b class="s2">Segmented Memories</b><br/>
			        			Visual Communication<br/>
				        		Interactive</div>
				        	</div>

				        </div> <!-- end row 2 -->
				        
				        <!-- ROW 3 -->
				        <div id="row3">
				        	<div class="span3" style="margin:0 10px 0 0;">
			        			<div id="project3-1" class="t"></div>
			        			<div class="t-title"><b class="s2">Bang Marry Boot</b><br/>
			        			Conversational Spaces</div>
				        	</div>
				        	<div class="span3" style="margin:0 10px 0 0;">
			        			<div id="project3-2" class="t"></div>
			        			<div class="t-title"><b class="s2">Fleeting Landscapes</b><br/>
			        			Artwork</div>
				        	</div>
				        	<div class="span3" style="margin:0 10px 0 0;">
			        			<div id="project3-3" class="t"></div>
			        			<div class="t-title"><b class="s2">Staten Island <br/>Turkey National Park</b><br/>
			        			Renature<br/>
				        		Environment</div>
				        	</div>
				        	<div class="span3" style="margin:0 10px 0 0;">
			        			<div id="project3-4" class="t"></div>
			        			<div class="t-title"><b class="s2">Color of Revolt</b><br/>
			        			Interactive<br/>
				        		Sound</div>
				        	</div>
				        </div> <!-- end row 3 -->
				        
				        <!-- ROW 4 -->
				        <div id="row4">
				        	<div class="span3" style="margin:0 10px 0 0;">
			        			<div id="project4-1" class="t"></div>
			        			<div class="t-title"><b class="s2">Artery</b><br/>
			        			Artwork</div>
				        	</div>
				        	<div class="span3" style="margin:0 10px 0 0;">
			        			<div id="project4-2" class="t"></div>
			        			<div class="t-title"><b class="s2">Aberrant Environment</b><br/>
			        			Installation<br/>
				        		Artwork</div>
				        	</div>
				        	<div class="span3" style="margin:0 10px 0 0;">
			        			<div id="project4-3" class="t"></div>
			        			<div class="t-title"><b class="s2">Repression</b><br/>
			        			Artwork</div>
				        	</div>
				        	<div class="span3" style="margin:0 10px 0 0;">
			        			<div id="project4-4" class="t"></div>
			        			<div class="t-title"><b class="s2">Engraved</b><br/>
			        			Artwork</div>
				        	</div>
	
				        </div> <!-- end row 4 -->
				        
				        <!-- ROW 5 -->
				        <div id="row5">
				        	<div class="span3" style="margin:0 10px 0 0;">
			        			<div id="project5-1" class="t"></div>
			        			<div class="t-title"><b class="s2">Experimenting the Forms of Fungi</b><br/>
			        			Artwork</div>
				        	</div>
				        	<div class="span3" style="margin:0 10px 0 0;">
			        			<div id="project5-2" class="t"></div>
			        			<div class="t-title"><b class="s2">Exposing the Enclosed</b><br/>
			        			Artwork</div>
				        	</div>
				        	<div class="span3" style="margin:0 10px 0 0;">
			        			<div id="project5-3" class="t"></div>
			        			<div class="t-title"><b class="s2">Unison</b><br/>
			        			Artwork</div>
				        	</div>
				        	<div class="span3" style="margin:0 10px 0 0;">
			        			<div id="project5-4" class="t"></div>
			        			<div class="t-title"><b class="s2">Fungus Drawing</b><br/>
			        			Artwork</div>
				        	</div>	
				        </div> <!-- end row 5 -->
				        
				        <!-- ROW 6 -->
				        <div id="row6">
				        	<div class="span3" style="margin:0 10px 0 0;">
			        			<div id="project6-1" class="t"></div>
			        			<div class="t-title"><b class="s2">Masquerade</b><br/>
			        			Artwork</div>
				        	</div>
				        	<div class="span3" style="margin:0 10px 0 0;">
			        			<div id="project6-2" class="t"></div>
			        			<div class="t-title"><b class="s2">Camouflage in Time</b><br/>
			        			Artwork</div>
				        	</div>
				        	<div class="span3" style="margin:0 10px 0 0;">
			        			<div id="project6-3" class="t"></div>
			        			<div class="t-title"><b class="s2">Yearn for Fulfillment</b><br/>
			        			Artwork</div>
				        	</div>
				        	<div class="span3" style="margin:0 10px 0 0;">
			        			<div id="project6-4" class="t"></div>
			        			<div class="t-title"><b class="s2">Warmth</b><br/>
			        			Artwork</div>
				        	</div>	
				        </div> <!-- end row 6 -->
				        
		        	</div> <!-- end center -->
		        		        	
	        		<div id="bottom">
	        			<div class="center" >
	        			<div id="wrapBio">
			        		<div class="span4">
				        		<p class="s1" style="padding-top:56px;"><b>Exhibitions</b><br/>
				        		GROUP EXHIBITION<br/>
				        		2012 'ITP Spring Show 2012', New York, NY<br/>
				        		2011 'ITP Winter Show 2011', New York, NY<br/>
				        		2010 Bee Sang, Global Mission Church Gallery, Seongnam-si, Korea<br/>
				        		2010 1+1=?, Ewha Womans University, Seoul, Korea<br/>
				        		2009 Major Project, Ewha Womans University, Seoul, Korea<br/>
				        		2009 Dream, Hwabong Gallery, Seoul, Korea<br/>
				        		2009 Calling, Global Mission Church Gallery, Seongnam-si, Korea<br/>
				        		2008 Mayday, Ewha Womans University, Seoul, Korea<br/>
				        		2008 Promenade de la Broderie, Hae Vi Chi Art Museum, Namyanju-si, Korea
				        		</p>
			        		</div>
			        		<div class="span4" style="margin-left:10px; padding-top:155px;">
				        		<p class="s1"><b>Education</b><br/>
				        		New York University, New York, NY (Sept 2011-May 2013 )<br/>
				        		M.P.S in Interactive Telecommunications Program (ITP) at Tisch School of the Arts<br/>
				        		Ewha Womans University, Seoul, Korea (March 2005 - Aug 2010)<br/>
				        		B.F.A in Fiber Arts in the Division of Arts & Crafts<br/>
				        		Minor Major in Painting & Print Making<br/>
				        		Minor Major in Art History
				        		</p>
			        		</div>
			        		<div class="span4" style="margin-left:10px;">
				        		<img src="static/img/yoonjoChoi.jpg">
			        		</div>
	        			</div> <!-- end wrap bio -->

	        			</div>
	        		</div>
        		</div>
        	</div>
        	
        	
        	
<!--             <footer>  -->
<!--             </footer> -->

        </div> <!-- /container -->

        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery-1.8.1.min.js') }}"><\/script>')</script>
        <script src="{{ url_for('static', filename='js/showProject.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jarallax-0.2.3b.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-1.8.1.min.js') }}"></script>
        {% block scripts %}{% endblock %}

    </body>
</html>
